# Data Science Tools and Ecosystem

## __Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- List Data Science Tools
- Show different types of mathmatical expressions

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript (not be related to Java)

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib (visualization)
4. Seaborn (visualization)
S. Scikit Learn (machine learning)
6. Apache Spark (general purpose)
7. Scala (Vegas)
8. R (ggplot2)

| Data Science Tools |
| ------------------ |
| Code Asset Management |
| Data Asset Management |
| Execution Environment |
| Development Environment |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
2 * 3 # Multiplication

[1] 6

In [2]:
4 - 1 # Subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to the variable called "a"
a + 2 # Adding 2

[1] 3

In [1]:
### This is a simple arithmetic expression to multiply then add integers
( 3 * 4 ) + 5

17

In [7]:
### This will convert 200 minutes to hours by dividing by 60
x = 200 
y = x / 60
print ( y )

3.3333333333333335

## Author
Mickey McCall

# ***STRINGS***

In [3]:
name = "Mickey McCall"
name[ 1 ]

'i'

In [4]:
len (name)

13

## The zero starts the index of positive numbers the space between y and M is sequence # 6
| M i c k e y   M c C  a  l  l |
|--------------------------|
| 0 1 2 3 4 5 6 7 8 9 10 11 12 |

### Remember because the index starts with 0 the string is still 13 characters long. so len(name) will be 13 not 12.

In [7]:
name [ 0 : 4 ] # Output will be Mick

'Mick'

In [9]:
name [ 7 : 11 ] # Out put will be McCa

'McCa'

### Remember the negative indexing of a string starts from -1 at the end of the string. Example Mickey McCall the last "l" will be -1 and (M) in Mickey will be -13

### Slicing Strings

### When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [11]:
name [ -13 : -9 ] # Output will be Mick

'Mick'

In [12]:
type (name)

str

### Stride Strings

In [8]:
# This is called striding

name [ :: 2 ] # The 2 indicates selecting every 2nd variable

'Mce cal'

### Incorporate slicing with the stride. we can select the first five elements and then use the stride:

In [9]:
# Get every second element in the range between index 0 to index 4

name [ 0 : 5 : 2 ]

'Mce'

## Concatenate Strings

In [10]:
# Using addition symbol can make new string or "concatenate"

statement = name + " is the best "
statement

'Mickey McCall is the best '

### To replicate values of a string we simply multiply the string by the number of times we would like to replicate it.

In [20]:
3 * "Mickey McCall" # this should be three copies of the orginial name string

'Mickey McCallMickey McCallMickey McCall'

In [21]:
name

'Mickey McCall'

In [11]:
3 * name

'Mickey McCallMickey McCallMickey McCall'

In [74]:
name = " Mickey McCall "
name

' Mickey McCall '

In [27]:
name = name + " is the best "
name

' Mickey McCall  is the best '

## backslash are meant to proceed escape sequences
## ***Escape sequences*** are strings that are difficult to input

## backlash \n is a new line

In [29]:
print ( " Mickey McCall \n is the best " )

 Mickey McCall
 is the best

## backlash \t is where a tab should be

In [30]:
print ( " Mickey McCall \t is the best " )

 Mickey McCall 	 is the best

## to place a backslash \ in your string use a double backslash \\

In [31]:
print ( " Mickey McCall \\ is the best " )

 Mickey McCall \ is the best

### to place multiple backslashes through out your string preceed the the string with r

In [35]:
print ( r" Mickey McCall \ is the best " ) #Out put is same as above

 Mickey McCall \ is the best

#  String Operations

### Upper is a method to convert lower case characters to upper case characters

In [17]:
## Examples of Methods

A = " Thriller is the sixth studio album "
A

' Thriller is the sixth studio album '

In [18]:
B= A.upper() # This will change lowercase characters to uppercase characters as varible B

In [38]:
B

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [19]:
A

' Thriller is the sixth studio album '

In [20]:
A . upper ( )

' THRILLER IS THE SIXTH STUDIO ALBUM '

In [21]:
B . lower ( )

' thriller is the sixth studio album '

In [13]:
# Convert all the characters in string to upper case

a = " Thriller is the sixth studio album "
print ( "before upper : ", a )
b = a . upper ( )
print ( " After upper : ", b )

before upper :   Thriller is the sixth studio album
 After upper :   THRILLER IS THE SIXTH STUDIO ALBUM

## The method replace, replaces a segment of the string

In [42]:
A= " Mickey McCall is the best " 
A

' Mickey McCall is the best '

In [44]:
B = A.replace ( 'Mickey' , ' Dawn ' ) # The output should replace Mickey with Dawn
B

'  Dawn  McCall is the best '

## The method find is to find substrings

In [49]:
name = " Mickey McCall "
name

' Mickey McCall '

In [79]:
name = ( "Mickey McCall" )

In [60]:
name.find ( 'ey' ) # ey is the argument the output is the first index of the sequence

5

In [58]:
name.find ("McCa")

8

In [61]:
name.find ( 'Mick' )

1

In [62]:
name.find ( 'ick')

2

In [63]:
name.find ( 'c' )

3

In [64]:
name.find ( 'cC' )

9

In [65]:
name [:: 3 ]

' cycl'

In [67]:
name [ 0 : 13 : 3 ]

' cycl'

In [68]:
name [ 13 ]

'l'

In [69]:
name [ 0 : 13 ]

' Mickey McCal'

In [83]:
name [0 : 17]

'Mickey McCall'

In [84]:
name.find ('keymc')

-1

In [85]:
type (name)

str

In [86]:
bool (name)

True

### If "find" cannot find the substring in the string

In [14]:
name . find ( ' Jasdfasdasdf ' )

-1

### Strings will put anything you put in them into the code.
### "Mickey" is not the same as " Mickey ". The first one looks for Mickey, the second looks for "space"Mickey.

In [24]:
x = 1
x = x + 1
x

2

In [25]:
1 + 3 * 2

7

In [26]:
type ("7.1" )

str

In [27]:
int (True)

1

In [28]:
'1' + '2'

'12'

In [29]:
myvar = 'hello'
myvar. upper ( )

'HELLO'

In [30]:
str ( 1+1)

'2'

In [31]:
'123'.replace ("12", "ab")

'ab3'

In [36]:
x = 2/2
x
type (x)

float